<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="The Nerd Helper" />
    <title>Nerd Helper</title>
</head>
<style>
    .container {
        padding: 2% 14%;
        border-bottom: 1px solid rgb(22, 0, 121);
        border-left: 1px solid rgb(22, 0, 121);
        border-right: 1px solid rgb(22, 0, 121);
        border-radius: 10px;
    }

    .page-title {
        margin: 1% 30%;
        color: rgb(68, 68, 68);
    }

    .required {
        color: rgb(209, 0, 0);
    }
</style>


<body>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    {% include 'menu.html' %}

    <div class="container bg-light">

    
        {% if user.is_authenticated %}
        Welcome, <strong>{{ user.username.capitalize }}</strong> !

        {% else %}

        {% endif %}

        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>