{% extends 'base.html' %}

{% block content %}
<style>
    .floating {
        float: left;
        margin: 1%;
    }
    .card-text {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<!-- {% for call in calls %} -->
<div class="floating">
    <div class="card bg-light border-info mb-3" style="max-width: 30rem;">
        <div class="card-header border-info">Subject: {{call.subject}}</div>
        <div class="card-header border-info">Company: {{call.subject}}</div>
        <div class="card-body">
            <h6 class="card-title">Client: {{call.clientName}}</h6>
            <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.{{call.description}}...</p>
        </div>
        <div class="card-footer border-info">
            <a href="" class="btn btn-success"><i class="fa fa-reply"></i> Answer</a>
            <a href="" class="btn btn-primary"><i class="fa fa-folder-open"></i> Open</a>
            <a href="" class="btn btn-info"><i class="fa fa-folder-open"></i> Close</a>
        </div>
    </div>
</div>
<!-- {% endfor %} -->

{% endblock content %}