{% extends 'base.html' %}

<style>
    .card-text {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>
{% block content %}
<div class="row">
    <form action="{% url 'callssearch' %}" method="GET">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <select name="statusCall" id="statusCall" class="form-control">
                        <option value="0">Select...</option>
                        {% for stat in status %}
                        <option value="{{stat.id}}" {% if stat.id == call.statusCall %} selected {%endif%}>
                            {{stat.statusName}}
                        </option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Priority</label>
                    <select name="priorityCall" id="priorityCall" class="form-control">
                        <option value="0">Select...</option>
                        {% for prior in priorities %}
                        <option value="{{prior.id}}" {% if prior.id == call.priorityCall %} selected {%endif%}>
                            {{prior.priorityName}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select name="categoryCall" id="categoryCall" class="form-control">
                        <option value="0">Select...</option>
                        {% for cat in categories %}
                        <option value="{{cat.id}}" {% if cat.id == call.categoryCall %} selected {%endif%}>
                            {{cat.categoryName}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <button type="text" name="search" id="search" class="btn btn-primary"><i class="fa fa-search"></i>
                        Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br><br>
<div class="row">

    {% for call in calls %}
    <div class="col-md-4">
        <div class="form-group">
            <div class="card bg-light border-primary mb-3" style="max-width: 450px;">
                <div class="card-header border-primary">Subject: <strong> {{call.subjectCall}}</strong></div>
                <div class="card-header border-primary">Company: <strong> {{call.companyCall}}</strong></div>
                <div class="card-body">
                    <h6 class="card-title">Client: {{call.clientCall}}</h6>
                    <p class="card-text">{{call.descriptionCall|slice:"0:200"}}...</p>
                </div>
                <div class="card-footer border-primary">
                    <a href="{% url 'callsdetail' call.id  %} " class="btn btn-secondary"><i
                            class="fa fa-folder-open"></i>
                        Open</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}